<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <<ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let client">{{client.nome}}</td>
  </ng-container>
  <<ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>E-mail</th>
    <td mat-cell *matCellDef="let client">{{client.email}}</td>
  </ng-container>
  <<ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef>Telefone</th>
    <td mat-cell *matCellDef="let client">{{formatTelefone(client.telefone)}}</td>
  </ng-container>
  <<ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Ação</th>
    <td mat-cell *matCellDef="let client">
      <button mat-mini-fab extended matTooltip="excluir" class="delete-button" (click)="detele(client)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-mini-fab extended matTooltip="atualizar" class="update-button" (click)="atualizarCliente(client)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
